@model StoneClinic.Models.Doctordetail

@{
    ViewData["Title"] = "AddDoctor";
}
<style> 
    body{
        overflow:hidden;
       
    }
</style>

<strong style="text-align:center; font-size:50px;">ADD DOCTOR</strong>


<hr style="width:600px;"/>

<div class="row">
    <div class="col-md-8">
        <form asp-action="AddDoctor">
            <table height="350px">
                <tr>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <th>

                        <label asp-for="Firstname" class="control-label">First Name <sup style="color:red">*</sup></label>
                    </th>
                    <td>
                        <input asp-for="Firstname" class="form-control" pattern="([a-z[A-Z]])" required style="width:350px;" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </td>

                </tr>
                <tr>
                    <th>
                        <label asp-for="Lastname" class="control-label"></label>
                    </th>
                    <td>
                        <input asp-for="Lastname" class="form-control" pattern="([a-z[A-Z]])" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Gender<sup style="color:red">*</sup></label><br />
                    </th>
                    <td>
                        <input asp-for="Sex" type="radio" id="gender" value="M"  required />
                        <label for="M">M</label>
                        <input asp-for="Sex" type="radio" id="gender" value="F" />
                        <label for="F">F</label>
                        <input asp-for="Sex" type="radio" id="gender" value="O" />
                        <label for="O">O</label>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>


                        <label asp-for="Specialization" class="control-label">Specialization<sup style="color:red">*</sup></label>
                    </th>
                    <td>
                        <select asp-for="Specialization" class="form-select"  required>
                            <option selected disabled>Select Specialization</option>
                            <option value="General">General</option>
                            <option value="Internal Medicine">Internal Medicine</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option value="Ophthalmology">Ophthalmology</option>
                        </select>
                        <span asp-validation-for="Specialization" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label asp-for="VisitingHours" class="control-label">Visiting Hours<sup style="color:red">*</sup></label>
                    </th>
                    <td>
                        <select asp-for="VisitingHours" class="form-select"  required>
                            <option selected disabled>Available Hours</option>
                            <option>10.00hrs - 12.00hrs</option>
                            <option>12.00hrs - 16.00hrs</option>
                            <option>16.00hrs - 19.00hrs</option>
                            <option>19.00hrs - 21.00hrs</option>
                            
                        </select>
                        <span asp-validation-for="VisitingHours" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="Add Doctor" class="btn btn-success" style="color:white" />
                    </th>
                </tr>
               
                <tr>
                    <th></th>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="container">
    <p id="suc" style="color:limegreen; font-size:80%">@ViewBag.suc</p>
</div>
<div class="gif"style=" margin-bottom:50%;position:absolute;left:60%;top:13%; ">
    <img src="../images/doc5.gif"  style="height:600px;">
</div>

<div>
    <a class="btn btn-warning"style="color:white" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
