@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    body {
        font-size: 105%;
        font-family:'Arial Rounded MT';
        background-image: url(../images/floor2.jpg);
        background-size: cover;
        backdrop-filter: blur(7px);
        height: 100vh;
        overflow: hidden;
    }

    #ent {
        float: left;
        padding-top: 150px;
    }

    #img {
        float: right;
        padding-right: 30px;
    }

    #par {
        padding-top: 230px;
        color: black;
        padding-left: 40px;
    }
</style>

<body>
    <div id="img">
        <img src="~/images/bg-doctor.png" />
    </div>
    <div id="ent">
        <h1 style="color:black; font-weight:700;font-size:220%;text-shadow:2px 2px 1px white;">
            WELCOME  TO  OUR  HEALTH  CENTER
        </h1>

    </div>
    <div id="par" style="font-size:120%">
        <P>
            Welcome to The Stone and Health Services, Inc. At Chennai, <br />we are dedicated to helping you experience a lifetime of good <br />health. Since our founding in 1972, The Stone and Health<br /> Services, Inc., has remained on the forefront of innovation,<br /> evolving and expanding to where you need us, when you need us.
        </P>
    </div>


</body>